<section id="inspiration" class="inspiration">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Inspiration</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <P><h4>Love the life you live, live the life you love</h4></P>
              Bob Marley
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h4><P>Today you are you, that is truer than true, there is no one alive who is youer than you.</P></h4>
              Dr Seuss
              <a href="#">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h4><p>The main thing is to keep the main thing the main thing</p></h4>
              Stephen Covey
              <a href="#">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <h4><p>The most powerful leadership tool you have is your own personal example</p></h4>
              John Wooden
              <a href="#">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <a href="#" class=""></a>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
