<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a href="#top"  onclick = $("#menu-close").click(); >InSpark</a>
    </li>
    <!-- <li>
      <a href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    -->
    <li>
      <a href="#purpose" onclick = $("#menu-close").click(); >Purpose</a>
    </li>
    <li>
      <a href="#passion" onclick = $("#menu-close").click(); >Passion</a>
    </li>
    <li>
      <a href="#inspration" onclick = $("#menu-close").click(); >Inspiration</a>
    </li>
    <li>
      <a href="#contact" onclick = $("#menu-close").click(); >Say Hello</a>
    </li>
  </ul>
</nav>
